ion-view
  ion-nav-bar.bar-calm
    ion-nav-buttons(side='left')
      button(menu-toggle='left').button.button-icon.icon.ion-navicon
    h1.title Sensor Setup
    ion-nav-buttons(side='right')
      button.button.button-clear(ng-click='save()') Save
  ion-content.has-header
    .card(ng-repeat='sensorHub in sensorHubs')
      .item.item-divider
        | {{ meta.sensorHubTypes[sensorHub.sensorHubType] }}
        .item-note {{ sensorHub._id }}
      label.item.item-input.item-select
        .input-label Room
        select(ng-model='sensorHub.roomType', ng-options='roomTypeId as roomTypeName for (roomTypeId, roomTypeName) in meta.roomTypes')
      label.item.item-input.item-select(ng-if='sensorHub.sensorHubType == 1')
        .input-label Water source
        select(ng-model='sensorHub.waterSource', ng-options='waterSourceId as waterSourceName for (waterSourceId, waterSourceName) in meta.waterSources')
      ion-toggle(toggle-class='toggle-balanced', ng-click="toggleMuted(sensorHub._id, 'temperature')",  ng-checked="categoryIsNotMuted(sensorHub._id, 'temperature')") Temperature alerts
      ion-toggle(ng-show='sensorHub.sensorHubType == 2', toggle-class='toggle-balanced', ng-click="toggleMuted(sensorHub._id, 'light')",  ng-checked="categoryIsNotMuted(sensorHub._id, 'light')") Light alerts
      ion-toggle(ng-show='sensorHub.sensorHubType == 2', toggle-class='toggle-balanced', ng-click="toggleMuted(sensorHub._id, 'humidity')",  ng-checked="categoryIsNotMuted(sensorHub._id, 'humidity')") Humidity alerts
      ion-toggle(ng-show='sensorHub.sensorHubType == 1', toggle-class='toggle-balanced', ng-click="toggleMuted(sensorHub._id, 'water')",  ng-checked="categoryIsNotMuted(sensorHub._id, 'water')") Water alerts
      ion-toggle(ng-show='sensorHub.sensorHubType == 3', toggle-class='toggle-balanced', ng-checked='true') Movement
      ion-toggle(ng-show='sensorHub.sensorHubType == 4', toggle-class='toggle-balanced', ng-checked='true') Motion