ion-view(title='Dashboard')
  ion-content
    .card
      .item.item-divider
        | Upstairs
        .item-note Oct 24 5:15 PM
      .item.item-icon-left
        i.icon.ion-thermometer
        | 75.2 ℉

    .card
      .item.item-divider
        | Bathroom
        .item-note Oct 24 7:05 AM
      .item.item-icon-left
        i.icon.ion-thermometer
        | 71.6 ℉

    .card
      .item.item-divider
        | Upstairs
        .item-note Oct 24 5:15 PM
      .item.item-icon-left
        i.icon.ion-thermometer
        | 71.6 ℉
      .item.item-icon-left
        i.icon.ion-lightbulb
        | 60 lux
      .item.item-icon-left
        i.icon.ion-ios7-rainy
        | 33%