ion-view(title='Alerts')
  ion-content
    .list
      .item.item-divider October 24, 2014
      a.item.item-icon-left(href='#')
        i.icon.ion-lightbulb
        | High light
        span.item-note 1:22 PM
      a.item.item-icon-left(href='#')
        i.icon.ion-thermometer
        | High temperature
        span.item-note 10:31 AM
      .item.item-divider October 23, 2014
      a.item.item-icon-left(href='#')
        i.icon.ion-lightbulb
        | Low light
        span.item-note 5:49 PM
      a.item.item-icon-left(href='#')
        i.icon.ion-thermometer
        | High temperature
        span.item-note 9:34 AM