ion-view(title="HomeClub")
  ion-nav-bar.bar-calm
  ion-content
    .list
      label.item.item-input
        span.input-label Email
        input(type='text', ng-model='user.username')
      label.item.item-input
        span.input-label Password
        input(type='password', ng-model='user.password')
    .padding
      a.button.button-block.button-calm(ng-click='signIn(user)')
        | Log in
      p.text-center
        a(href='#/forgot-password') Forgot password