ion-side-menus
  ion-pane(ion-side-menu-content='')
    ion-nav-view(name='mainContent')

  ion-side-menu(side='left', expose-aside-when="large")
    header.bar.bar-header.bar-calm
      h1.title HomeClub
     ion-content.has-header
      ion-list
        a(nav-clear='', menu-close='', ui-sref='app.dash').item.item-icon-left
          i.icon.ion-home
          |  Dashboard
        a(nav-clear='', menu-close='', ui-sref='app.sensorSetup').item.item-icon-left
          i.icon.ion-gear-a
          |  Sensor Setup
        a(ng-click='logout()').item.item-icon-left
          i.icon.ion-log-out
          |  Logout