ion-nav-bar.bar-calm

ion-tabs.tabs-icon-top
  // Dashboard Tab
  ion-tab(title='Dashboard', icon='icon ion-home', ui-sref='app.dash')
    ion-nav-view(name='tab-dash')
  // Friends Tab
  ion-tab(title='Alerts', icon='icon ion-alert-circled', ui-sref='app.alerts')
    ion-nav-view(name='tab-alerts')
  // Account Tab
  ion-tab(title='Reports', icon='icon ion-pie-graph', ui-sref='app.reports')
    ion-nav-view(name='tab-account')