$calm: #6cc6c6 !default;
$balanced: #136d6d !default;

@import "../lib/ionic/scss/ionic";

.item-divider {
    background-color: #f8f8f8;
    color: #919191;
}
.item {
    color: #454f5e;
}
.item-icon-left .icon {
    color: $calm;
}
a {
    color: #4183c4;
    text-decoration: none;
}